<h3>Node.js CRUD - Products</h3>
<a href='/products/add' class="btn btn-primary btn-md mt-4 mb-5">
    <i class="fas fa-plus mr-2"></i> ADD NEW RECORD
</a>

{{#if products}}
<table class="table table-striped">
    <thead>
      <tr>
        <th>#</th>
        <th>Product Code</th>
        <th>Name</th>
        <th>Category</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Date Added</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
        {{#each products}}
        <tr>
            {{!-- refernce current loop index --}}
            <td>{{inc @index}}</td>
            <td>{{productCode}}</td>
            <td>{{name}}</td>
            <td>{{category}}</td>
            <td>{{price}}</td>
            <td>{{quantity}}</td>
            <td>{{formatDate dateAdded 'MMM D, YYYY'}}</td>
            <td>
                <a href="/products/edit/{{_id}}" class="btn btn-warning btn-sm mb-1">
                    <i class="fas fa-pencil-alt"></i>
                </a>
                <a href="/products/remove/{{_id}}" class="btn btn-danger btn-sm mb-1">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<h5>No products to display</h5>
{{/if}}